
  <p>
    <%= foo.label :category %><br>
    <%= foo.text_field :category %>
  </p>
    <p>
    <%= foo.label :author %><br>
    <%= foo.text_field :author %>
  </p>
    <p>
    <%= foo.label :text, "Quote Text" %><br>
    <%= foo.text_area :quotetext %>
  </p>