  <p>
    <%= foo.label :category %><br>
    <%= foo.text_field :category, id: 'categoryInput' %>
  </p>
    <p>
    <%= foo.label :author %><br>
    <%= foo.text_field :author, id: 'authorInput' %>
  </p>
    <p>
    <%= foo.label :quotetext, "Quote Text" %><br>
    <%= foo.text_area :quotetext %>
  </p>