<h1>Edit Existing Quote <%=@quote.pkey%> </h1>

<%= form_for(@quote) do |f| %>

  <p>
    <%= f.label :category %><br>
    <%= f.text_field :category %>
  </p>
    <p>
    <%= f.label :author %><br>
    <%= f.text_field :author %>
  </p>
    <p>
    <%= f.label :text %><br>
    <%= f.text_area :quotetext %>
  </p>
  
  <button type="submit" class="btn btn-primary">
    Update quote
  </button>

<%= link_to quote_path(@quote.id), :class => "btn btn-primary", method: :delete, data: {confirm: "Really delete Quote ##{@quote.pkey}?"} do %>Delete<% end %>
<% end %>

<div id="ReturnNav">
<%= link_to 'Show', @quote %> |
<%= link_to 'Home', quotes_path %>
</div>