<h1>Edit Existing Quote <%=@quote.pkey%> </h1>

<%= display_error_messages(@quote) %>

<%= form_for(@quote) do |f| %>

<%= render partial: 'form', locals: {:foo => f} %>
  
  <button type="submit" class="btn btn-primary">
    Update quote
  </button>

<%= link_to quote_path(@quote.id), :class => "btn btn-primary", method: :delete, data: {confirm: "Really delete Quote ##{@quote.pkey}?"} do %>Delete<% end %>
<% end %>

<div id="ReturnNav">
<%= link_to 'Show', @quote %> |
<%= link_to 'Home', quotes_path %>
</div>