<div class='jumbotron' id="top">
<h1>Terry's Fav Quotes Database</h1>
</div>

<%= render partial: 'shared/nav' %>
  <%= render partial: 'flash' %>


<a class="btn btn-primary" href="#jumpbottom" style="float: right;
  margin-top: 3%;
  display:inline-block;">Move to Bottom</a>

  <div class="page_info"> <%= page_entries_info @quotes,  :model => 'quotes' %>  </div>
<div id="pagination"> <%= will_paginate @quotes, renderer: BootstrapPagination::Rails %> </div>



  <table class="listing">
    <tr class="header">
      <th>Pkey</th>
      <th>Category</th>
      <th>Author</th>
      <th>Quote Text</th>
      <th>Actions</th>
    </tr>
    <% @quotes.each do |quote| %>
    <tr class="<%= cycle('odd','even') %>">
      <td><%=quote.pkey %></td>
      <td><%=link_to quote.category, category_show_path(quote.category) %></td>
      <td><%=link_to quote.author, author_show_path(quote.author) %></td>
      <td><%=quote.text %></td>
      <td class="actions">
      <%= link_to "Show", {:action => 'show', :id => quote.id}  %>
      <%= link_to("Edit", {:action => 'edit', :id => quote.id}) %>
        <% if logged_in? %>
        <%= link_to quote_path(quote.id), method: :delete, data: {confirm: "Really delete Quote ##{quote.id}?"} do %><span class=edit>Delete</span>
        <% end %>
      <% end %>
    </td>
    </tr>
    <% end %>
  </table>
<%= will_paginate @quotes, renderer: BootstrapPagination::Rails %>
<a href="#navclear" class="btn btn-primary" id="moveButtons">Move to Top</a>
<p align='center'><em>End of Page</em></p>

  <div id="jumpbottom"><!-- #this is just place-holder anchor so Move-to-Buttom jump buttons work correctly  --></div>

