<div class='jumbotron'>
<h1><%= @quote.category %> </h1>
</div>

<%= render 'shared/nav' %>


<p>Quote #<%= @quote.pkey %> </p>
<p>Author: <%= @quote.author %> </p>
<p><%= @quote.text %></p>

<ul class="pager">
<% if @quote.previous.presence %> 
<li><%= link_to 'Previous', @quote.previous %></li> | 
<% end %>
<% if @quote.next.presence %> 
<li><%= link_to 'Next', @quote.next %></li>
<% end %>
</ul>

<button type="button" class="btn btn-default"> 
<%= link_to 'Back Home', {:action => 'index'} %>
</button>
<button type="button" class="btn btn-default"> 
<%= link_to 'Edit', edit_quote_path(@quote) %>
</button>