<% @page_title = "##{@quote.pkey}" %>

<div class='jumbotron'>
<h1> Quote #<%= @quote.pkey %> </h1>
</div>

<%= render partial: 'shared/nav' %>
<%= render partial: 'flash' %>

<p>ID #<%= @quote.pkey %> </p>
<p><strong>Category: <%= @quote.category %> </strong></p>
<blockquote><p id="quote"><%= @quote.text %></p>
<%= link_to @quote.author, author_show_path(@quote.author), :id => "author" %><br>
<%= picture_caller(@quote.author) %>
</blockquote>



<ul class="pager">
<% if @quote.previous.presence %> 
<li><%= link_to 'First', @quote.first %></li>  |
<li><%= link_to 'Previous', @quote.previous %></li> 
<% end %>
<% if @quote.next.presence %> 
<li><%= link_to 'Next', @quote.next %></li> | 
<li><%= link_to 'Last', @quote.last %></li>
<% end %>
</ul>

<% if logged_in? %>
<%= link_to 'Edit', edit_quote_path(@quote), :class => "btn btn-primary" %>
<% end %>
<%= link_to 'Back Home', {:action => 'index'}, :class => "btn btn-primary" %>
