<% @page_title = @category.first.category %>

<div class='jumbotron' id="top">
<h1>By Category: <%= @category.first.category %></h1>
</div>
<%= render partial: 'shared/nav' %>

<div id="CategoryNavigation">
  <div id="CategoryNavButtons">
    <%= link_to 'Back to Category Index', category_path, :class => "btn btn-primary" %>
    <% if @category.size > 2 %>
    <a class = "btn btn-primary" href="#jumpbottom">Move to Bottom</a>
    <% end %>
  </div>
  <% if @category.size < 10 %>
  <div id="CategoryPagination_v2">
  <% else %>
  <div id="CategoryPagination">
  <% end %>
  <div id="page_info">
      <%= page_entries_info @category, :model => 'quotes' %>
    </div>
      <%= will_paginate @category, renderer: BootstrapPagination::Rails %>
  </div>
</div>

<div id="CategoryContainer">
  <% @category.sort.each do |quote| %>
    <div class="<%= cycle('odd', 'even') %>">
    <p>ID #<%= quote.id %> </p>
    <p><strong> <%= quote.category %></strong></p>
    <p> <%= quote.text %> </p>
    <p><em><%= quote.author %></em></p>
    <%= link_to 'Show', quote_path(quote.id) %>
    <% if logged_in? %>
    <%= link_to 'Edit', edit_quote_path(quote.id) %>
    <% end %>
  <hr>
    </div>
  <% end %>
  <div id="endOfTable">
    <%= will_paginate @category, renderer: BootstrapPagination::Rails %>
    <% if @category.size > 2 %>
      <a href="#top" class="btn btn-primary" id="moveButtons">Move to Top</a>
    <% end %>
    </div>
</div>

<div id="jumpbottom"><!-- #this is just place-holder anchor so Move-to-Buttom jump buttons work correctly  --></div>

