<div class='jumbotron' id="top">
<h1>Category Section: <%= @category.first.category %></h1>
</div>
<%= render 'shared/nav' %>

<%= link_to 'Back to Category Index', category_path, :class => "btn btn-primary"  %>
<% if @category.size > 2 %>
<a class = "btn btn-primary" href="#jumpbottom">Move to Bottom</a>
<% end %>
<hr>

<% @category.each do |quote| %>
<div>
<p><strong> <%= quote.category %></strong></p>
<p> #<%= quote.id %> </p>
<p> <%= quote.text %> </p>
<p><em><%= quote.author %></em></p>
<%= link_to 'Edit', edit_quote_path(quote.id) %>
<hr>
</div>
<% end %>
<p><em>End of Page</em></p>
<div id="jumpbottom"></div>
<% if @category.size > 2 %>
<a href="#top" class="btn btn-primary" id="movebutton">Move to Top</a>
<% end %>