<%= render 'shared/category' %>

<% @category.each do |quote| %>
<div>
<p> <%= quote.category %> </p>
<p> <%= quote.author %> </p>
<p> <%= quote.text %> </p>
</div>
<% end %>

<%= link_to 'Home', quotes_path %>
