<% @page_title = "By Authors Index" %>

<div class='jumbotron' id="top">
<h1>By Author Index</h1>
</div>

<%= render partial: 'shared/nav' %>

<div>
<%= page_entries_info @authors, :model => 'authors' %>
</div>
<%= will_paginate @authors, renderer: BootstrapPagination::Rails %>

<ul>
  <% @authors.each do |author| %>  
    <li>
    <%= link_to author, author_show_path(author) %> (<%= @quotes.where(author: author).count %>)
    </li>
  <% end %>
</ul>