<ul class="nav nav-pills">
  <li><%=link_to 'Home', root_path %></li>
  <li><%=link_to 'By ID', '/quotes/1' %></li>
  <li><%= link_to 'By Category', quotes_category_path %></li>
  <li><%= link_to 'About', about_page_path %></li>
  <li><%= link_to 'Create new quote', new_quote_path %></li>
</ul>
