<!DOCTYPE html>
<html>
<head>
  <title>Terry's Quotes | <%=@page_title || "" %> </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
 
  <div id="navclear">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
     <div class="navbar-header">
        <%= link_to "Terry's Favorite Quotes", root_path, :class=>"navbar-brand" %>
     </div>
       <span id="login">
          <% if logged_in? %>
          <%= "Logged in as #{current_user.email}" %>
          <%= link_to "(logout)", logout_path %>
        <% else %>
          <%= link_to "(login)", login_path %>
        <% end %>
        </span>
  </nav>

  </div>

  <%= yield %>


</div>
</body>
</html>
